doctype html
html
  head
    title Bianca Dennis
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href='#') Timber
            li
              a(href='/blog') login
            li
              a(href='/portfolio') signup
            li
              h1 Timber
    block content
