doctype html
html
  head
    title Timber
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='/javascripts/new.js')
  body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              h1 Timber
            li
              a(href='/') Timber
            if !currentUser
              li
                a(href='/users/log-in') login
            if currentUser
              li
                a(href='/users/log-out') logout
            li
              a(href='/users/upload-photo')
                span(class='glyphicon') &#xe027;
            if currentUser
              li
                a(href=`/users/${currentUser.id}`)
                  span(class='glyphicon glyphicon-user')
    block content
