extends ../layout

block content
    if currentUser
        h1= user.name
        p member since #[small= date(user.createdAt)]
        include photos
    else
        h2 Not Found
        p That User Does Not Exist
