a {
  color: #00B7FF;
}
.photoDisplay {
  text-align: center;
}
.mainImage {
  height: 500px;
  width: 400px;
}
.imageContainer {
display: flex;
justify-content: center;
}

.userpagerow {
  height: 400px;
}
