body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.photoDisplay {
  text-align: center;
}
.mainImage {
  height: 500px;
}
.imageContainer {
display: flex;
justify-content: center;
}