.list-group
    each photo in photos
      .row.imageContainer
         .col-xs-7.photoDisplay
           h1= photo.caption
           p= photo.hashtags
           img.mainImage(src=photo.imageUrl)
      //- p= photo.caption
