block content
    include show
    h1 Update Photo
    include ../errors
    form(action=`/users/photo/${photo.id}/update`, method='post')
        .form-group
            label(for='Caption') Caption
            input.form-control(name='caption', value=photo.caption)
        .form-group
            input.btn.btn-primary.btn-lg(type='submit', value='Update')
